@import "tailwindcss";
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #151833 0%, #0a0b17 50%, #1a1a3e 100%);
  /* min-height: 100vh; */
}
